
MAILER_API_KEY=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
MAILER_SENDER=thuancoixy234786@gmail.com
MAILER_VALIDATION_API_KEY=3e25cf1c0fbd4fb3b1ce48974d538818

MAILER_USER=19522318@gm.uit.edu.vn
MAILER_PASSWORD=1453087464